body {
    background-position-x: center;
    background-position-y: 10vh;
    background-size: 80vw 80vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
}

.btn {
    border-radius: 50% 50%;
    border: 1px solid black;
    width: 3vw;
    height: 5vh;
}
