#yard {
    background-color:cornflowerblue;
    width: 70vw;
    height: 70vh;
    margin: auto;
}
#dvor {
    background-color:rgb(247, 135, 38);
    width: 70vw;
    height: 20vh;
    margin: auto;
}
